<h3>Exemplos de Pipes</h3>
<p>Título: {{ livro.titulo | uppercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number: "1.1-1" }}</p>
<p>Páginas: {{ livro.numeroPaginas }}</p>
<p>Preço: {{ livro.preco | currency: "BRL":"symbol" }}</p>
<p>Data de Lançamento: {{ livro.dataLancamento | date: "dd-MMM-yyyy" }}</p>
<p>Url: {{ livro.url }}</p>
<br />
<p>Livro: {{ livro | json }}</p>
<input type="text" [(ngModel)]="filtro" />
<input type="text" #novoValor />
<button (click)="addCurso(novoValor.value)">Add curso</button>
<h3>Pipie puro</h3>
<ul>
  <li *ngFor="let liv of livros">{{ liv | filtroArray }}</li>
</ul>

<h3>Pipe impuro</h3>
<ul>
  <li *ngFor="let liv of livros">{{ liv | filtroArrayImpuro }}</li>
</ul>

<h3>Maneira correta de usar filtro nos projetos</h3>
<ul>
  <li *ngFor="let liv of obterCurso()">{{ liv }}</li>
</ul>

<p>{{ valorAsync | async }}</p>

<p>{{ valorAsync2 | async }}</p>
