<form [formGroup]="formulario" class="mt-5" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-12">
      <label for="nome">Nome</label>
      <input
        [ngClass]="aplicaCssErro('nome')"
        type="text"
        class="form-control"
        id="nome"
        placeholder="Nome"
        formControlName="nome"
      />
      <div class="invalid-feedback">O Nome é obrigatório</div>
    </div>
    <div class="form-group col-12">
      <label for="email">Email</label>
      <input
        [ngClass]="aplicaCssErro('email')"
        type="email"
        class="form-control"
        id="nome"
        placeholder="email@email.com"
        formControlName="email"
      />
      <div class="invalid-feedback">O Email é obrigatório</div>
    </div>
    <div formGroupName="endereco" class="form-row">
      <div class="form-group col-3">
        <label for="cep">CEP</label>
        <input
          [ngClass]="aplicaCssErro('endereco.cep')"
          type="text"
          class="form-control"
          id="cep"
          formControlName="cep"
          (blur)="consultaCEP()"
        />
        <div class="invalid-feedback">O CEP é obrigatório</div>
      </div>
      <div class="form-group col-3">
        <label for="numero">Número</label>
        <input
          [ngClass]="aplicaCssErro('endereco.numero')"
          type="text"
          class="form-control"
          id="numero"
          formControlName="numero"
        />
        <div class="invalid-feedback">O Número é obrigatório</div>
      </div>
      <div class="form-group col-6">
        <label for="complemento">Complemento</label>
        <input
          type="text"
          class="form-control"
          id="complemento"
          formControlName="complemento"
        />
      </div>
      <div class="form-group col-12">
        <label for="rua">Rua</label>
        <input
          [ngClass]="aplicaCssErro('endereco.rua')"
          type="text"
          class="form-control"
          id="rua"
          formControlName="rua"
          readonly
        />
        <div class="invalid-feedback">A Rua é obrigatório</div>
      </div>
      <div class="form-group col-5">
        <label for="bairro">Bairro</label>
        <input
          [ngClass]="aplicaCssErro('endereco.bairro')"
          type="text"
          class="form-control"
          id="bairro"
          formControlName="bairro"
          readonly
        />
        <div class="invalid-feedback">O Bairro é obrigatório</div>
      </div>
      <div class="form-group col-4">
        <label for="cidade">Cidade</label>
        <input
          [ngClass]="aplicaCssErro('endereco.cidade')"
          type="text"
          class="form-control"
          id="cidade"
          formControlName="cidade"
          readonly
        />
        <div class="invalid-feedback">O Cidade é obrigatório</div>
      </div>
      <div class="form-group col-3">
        <label for="estado">Estado</label>
        <select
          [ngClass]="aplicaCssErro('endereco.estado')"
          type="text"
          class="form-control"
          id="estado"
          formControlName="estado"
          readonly
        >
          <option *ngFor="let estado of estados | async" [value]="estado.sigla">
            {{ estado.nome }}
          </option>
        </select>
        <div class="invalid-feedback">O Estado é obrigatório</div>
      </div>
    </div>
    <div class="form-group col-3">
      <label for="cargo">Cargo</label>
      <select
        type="text"
        class="form-control"
        id="cargo"
        formControlName="cargo"
        [compareWith]="comparaObjetos"
      >
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">
          {{ cargo.desc }}
        </option>
      </select>
    </div>
    <div class="form-group col-3">
      <label for="tecnologias">Tecnologias</label>
      <select
        type="text"
        class="form-control"
        id="tecnologias"
        formControlName="tecnologias"
        multiple
      >
        <option
          *ngFor="let tecnologia of tecnologias"
          [value]="tecnologia.nome"
        >
          {{ tecnologia.desc }}
        </option>
      </select>
    </div>
    <div class="form-group col-3">
      <label for="newsletter">Deseja receber atualizações ?</label>
      <div id="newsletter" class="ml-2 row">
        <div class="col-sm-4" *ngFor="let item of newsletterOpt">
          <label class="radio-inline">
            <input
              type="radio"
              [value]="item.valor"
              formControlName="newsletter"
            />
            {{ item.desc }}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        formControlName="termos"
        [ngClass]="{
          'is-invalid':
            !formulario.get('termos').valid ||
            formulario.get('termos').value === null
        }"
      />
      <label class="form-check-label">Li e aceito os termos</label>
    </div>
    <div class="form-group">
      <div>Frameworks</div>
      <div
        class="form-check form-check-inline"
        formArrayName="frameworks"
        *ngFor="
          let item of formulario.get('frameworks')['controls'];
          let i = index
        "
      >
        <input
          type="checkbox"
          class="form-check-input"
          [formControlName]="i"
          [ngClass]="{ 'is-invalid': !formulario.get('frameworks').valid }"
        />
        <label class="form-check-label">{{ frameworks[i] }}</label>
      </div>
      <div class="text-danger" *ngIf="!formulario.get('frameworks').valid">
        Selecione ao menos um framework
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
  <button type="button" (click)="resetarForm()" class="btn btn-danger ml-2">
    Cancelar
  </button>
  <button type="button" (click)="setarCargo()" class="btn btn-info ml-2">
    Cargo
  </button>
  <button type="button" (click)="setarTecnologias()" class="btn btn-info ml-2">
    Tecnologias
  </button>
</form>
<app-form-debug [form]="formulario"></app-form-debug>
