<app-diretiva-ngif></app-diretiva-ngif>
<h5>ngSwitch</h5>
<app-diretiva-ngswitch></app-diretiva-ngswitch>
<hr />
<hr />
<h5>*ngFOr</h5>
<app-diretiva-ngfor></app-diretiva-ngfor>
<hr />
<hr />
<h5>[ngClass]</h5>
<app-diretiva-ngclass></app-diretiva-ngclass>
<hr />
<hr />
<app-diretiva-ngstyle></app-diretiva-ngstyle>
<hr />
<hr />
<h5>Operador elvis : ?</h5>
<app-operador-elvis></app-operador-elvis>
<hr />
<hr />
<h5>ng-content</h5>
<app-exemplo-ng-content>
  <div class="titulo">Titulo do component</div>
  <div class="corpo">
    Conteúdo passado para o component através do ng-content e o select da class
  </div>
</app-exemplo-ng-content>
<hr />
<hr />
<h5>Diretiva de atributo customizada</h5>
<app-diretivas-customizadas></app-diretivas-customizadas>
